<div id='show-page' class="show-page">
  
  <div class="col1">

    <div class="user-info card">
      <h2>My Information</h2>
      <div class="info-field">
        Email:
        <div class="user-info-field"><strong><%= @user.email %></strong></div>
      </div>
      <div class="info-field">
        Phone:
        <div class="user-info-field"><strong><%=number_to_phone(@user.mobile_number) %></strong></div>
      </div>
      <div class="info-field">
        <strong><%= link_to 'Edit Profile', edit_user_registration_path, :class => 'button-class' %></strong>
      </div>
    </div>

    <div class="reminder-show card">
      <div class="reminder-header">
        <table>
          <tr>
            <td>
              <h2>My Reminders</h2>
            </td>
            <td>
              <%= link_to  new_reminder_path, :class => 'new-reminder' do%>
              <i id='new-reminder-btn' class="fa fa-plus-square fa-2x"></i>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
      <% if @reminders.count==0 %>
        <div class="no-reminders-msg">
          <span>You currently have no reminders</span><br>
          <span>Use the <i class="fa fa-plus-square"></i> above to add. </span>
        </div>
      <% end %>
      <% @reminders.each do |reminder| %>
      <div class="reminder-container">
        <div class="train-container">
          <%= reminder.trainno %>
        </div>
        <div class="time-container">
          <%= reminder.alarmtime.strftime('%I:%M %p') %><br>
        </div>
        <div class="schedule-container">
          <% reminder.days.split("").each do |i|  %>
          <%=get_day_short(i).capitalize%><br>
          <% end %>
        </div>
        <div class="button-container">
          <%= link_to edit_reminder_path(reminder), :class => 'edit-reminder', remote: true do%>
          <i class="fa fa-pencil-square-o "></i>
          <% end %>
          <%= link_to  reminder_path(reminder), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } do%>
          <i class="fa fa-times"></i>
          <% end %>
            <i class="fa fa-info-circle sched-btn" data-train=<%=reminder.trainno%>></i>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col2">
    <div id='schedule-form'>
    </div>
    <div id='new-reminder-form' class="new-reminder-form form reminder-form">
      <%= render 'shared/new' %>
    </div>
    <div id="edit-form-place"></div>
  </div>

</div>
