<div class="col1">
<div class="user-info card">
Email: <%= @user.email %>
<br><br>
Phone: <%=number_to_phone(@user.mobile_number) %>
</div>

<div class="reminder-show card">
<h3>My Reminders</h3>
  <ul>
    <% @reminders.each do |reminder| %>
      <li>
        A reminder for train number <%= reminder.trainno %>
        will be sent at <%= reminder.alarmtime.strftime('%I:%M %p') %>
        if the train is more than <%= reminder.offset %> minutes late on the following days:<br><br>
        <% reminder.days.split("").each do |i|  %>
        <%=get_day_short(i).capitalize%><br>
        <% end %>
        <br>
        <%= link_to "Edit", edit_reminder_path(reminder), :class => 'edit-reminder', remote: true %>
        <%= link_to "Delete", reminder_path(reminder), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Set Up New Reminder", new_reminder_path, :class => 'new-reminder'%>
</div>

</div>
<div class="col2">
  <div class="new-reminder-form form">
    <%= render 'shared/new' %>
  </div>
  <div id="edit-form-place">

  </div>
</div>
